<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.dao.TKindDao">

    <!--添加-->
	<insert id="add" parameterType="test.entity.TKindEntity">
		insert into `t_kind`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="kindId != null">
                kind_id,
            </if>
            <if test="kindName != null">
                kind_name,
            </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="kindId != null">
					#{kindId},
				</if>
				<if test="kindName != null">
					#{kindName},
				</if>
		</trim>
	</insert>

    <!--删除-->
	<delete id="delete" parameterType="test.entity.TKindEntity">
		delete from `t_kind`
		<where>
            <if test="kindId != null">
                and kind_id=#{kindId}
            </if>
            <if test="kindId == null">
                and 1 = 0
            </if>
		</where>
	</delete>

    <!--更新-->
	<update id="update" parameterType="test.entity.TKindEntity">
		update `t_kind`
		<trim prefix="set" suffixOverrides=",">
				<if test="kindId != null">
					kind_id=#{kindId},
				</if>
				<if test="kindName != null">
					kind_name=#{kindName},
				</if>
		</trim>
		<where>
            <if test="kindId != null">
                and kind_id=#{kindId}
            </if>
            <if test="kindId == null">
                and 1 = 0
            </if>
		</where>
	</update>

    <!--固定条件查询-->
	<select id="select" parameterType="test.entity.TKindEntity"
		resultType="test.entity.TKindEntity">
			select
				kind_id as "kindId",
				kind_name as "kindName"
			from `t_kind`
			<where>
					<if test="kindId != null">
						and kind_id=#{kindId}
					</if>
					<if test="kindName != null">
						and kind_name=#{kindName}
					</if>
			</where>
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
            <if test="start != null and pageSize != null">
                limit #{start},#{pageSize}
            </if>


	</select>

    <!--分页（模糊查询的公共条件）-->
    <sql id="likeSelectConditions">
                <if test="kindId != null and kindId != '' ">
                and kind_id <![CDATA[=]]> #{kindId}
                </if>
                <if test="kindName != null and kindName != '' ">
                and kind_name <![CDATA[=]]> #{kindName}
                </if>
    </sql>

    <!--分页（模糊）查询-->
	<select id="likeSelect" parameterType="test.entity.TKindEntity"
		resultType="test.entity.TKindEntity">
			select
				kind_id as "kindId",
				kind_name as "kindName"

                from `t_kind`

			<where>
                <include refid="likeSelectConditions"/>
			</where>
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
            <if test="start != null and pageSize != null">
                limit #{start},#{pageSize}
            </if>


	</select>

    <!--分页（模糊）查询条数-->
	<select id="likeSelectCount" parameterType="test.entity.TKindEntity"
		resultType="java.lang.Long">
		select
			count(1)
		from `t_kind`

		<where>
            <include refid="likeSelectConditions"/>
		</where>
	</select>

</mapper>
